body{

margin:0;

background:#1f7a1f;

font-family:Arial;

overflow:hidden;

color:white;

text-align:center;
}

/* TOP BAR */

.top-bar{

display:flex;

justify-content:space-between;

padding:15px 25px;

font-size:28px;

font-weight:bold;
}

/* GAME AREA */

.game-container{

display:flex;

justify-content:center;

align-items:center;
}

canvas{

background:black;

border:8px solid white;
}

/* BUTTONS */

button{

padding:12px 20px;

font-size:20px;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:bold;

margin:5px;
}

button:hover{

transform:scale(1.05);
}

/* LEFT BUTTONS */

.left-controls{

position:fixed;

bottom:20px;

left:20px;
}

/* RIGHT BUTTONS */

.right-controls{

position:fixed;

bottom:20px;

right:20px;
}

/* MOBILE CONTROLS */

.mobile-controls{

position:fixed;

right:20px;

bottom:120px;

z-index:200;
}

.middle-row{

display:flex;

justify-content:center;
}

.mobile-controls button{

width:65px;

height:65px;

font-size:28px;

background:#222;

color:white;

border-radius:15px;
}

/* SETTINGS */

.settings{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#222;

padding:25px;

border-radius:20px;

z-index:999;
}

/* OVERLAY */

.overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.85);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:1000;
}

/* BIG BUTTON */

.big-btn{

font-size:35px;

padding:18px 35px;
}

/* STATUS */

#statusText{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:black;

padding:20px 40px;

font-size:45px;

font-weight:bold;

border-radius:20px;

color:yellow;

z-index:2000;
}

.hidden{

display:none;
}

.hidden-status{

display:none;
}